.nav {
  &-wrapper {
    // position: fixed;
    // top: 0;
    width: 100%;
    padding: 10px 0;
    // background-color: rgba(0, 0, 0, 0.65);
    background-color: $primary-dark;
    z-index: 9;

    nav {
      display: flex;
      justify-content: space-between;
    }
  }

  &__branding {
    color: $primary-color;
    font-size: 30px;
    font-weight: 500;
  }

  &__links {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    > li {
      margin-left: 25px;

      @media (max-width: 576px) {
        &:not(:last-child):not(:first-child) {
          display: none;
        }
      }

      a {
        color: white !important;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
        transition: color 0.3s;
        &:after {
          position: absolute;
          transition: 0.3s;
          content: "";
          width: 0;
          left: 50%;
          bottom: 0;
          height: 3px;
          background: #f7f7f7;
        }

        &:hover {
          opacity: 1 !important;
          &:after {
            width: 100%;
            left: 0;
          }
        }
      }

      &:not(.active) {
        a {
          opacity: 0.7;
        }
      }
    }
  }
}

.hero {
  &-wrapper {
    height: 70vh;
    background-repeat: none;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-bottom: 12vh;

    @media (max-width: $screen-size-sm) {
      height: 550px;
    }

    &.slide {
      &1 {
        background-image: url(../../../static/images/banner1.jpg);
      }
      &2 {
        background-image: url(../../../static/images/banner2.jpg);
      }
      &3 {
        background-image: url(../../../static/images/banner3.jpg);
      }
      &4 {
        background-image: url(../../../static/images/banner4.jpg);
      }
    }
  }

  &__title {
    padding: 0.5em 1em;
    font-size: 42px;
    color: #fff;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: $screen-size-sm) {
      font-size: 36px;
      width: 100%;
      border-radius: 10px;
    }
  }
}

.about {
  &-wrapper {
    margin: 6em 0;
    display: flex;
    // justify-content: space-between;

    @media (max-width: $screen-size-sm) {
      flex-direction: column;
      margin: 3em 0;
    }
  }

  &-infographics {
    min-width: 400px + 40px;
    margin-right: 40px;
    position: relative;
    flex-basis: 100%;

    @media (max-width: $screen-size-sm) {
      min-width: 100%;
      height: 450px;
      margin-right: 0;
      flex-basis: auto;
    }

    &__img1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      // box-shadow: 0 0 6px 0px transparentize(black, 0.7);
    }

    &__img2 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 60%;
      object-fit: cover;
      z-index: 2;
      box-shadow: 0 -4px 6px 0 transparentize(black, 0.8);

      @media (max-width: $screen-size-sm) {
        height: 70%;
      }
    }
    &__quality {
      position: absolute;
      left: -1px;
      bottom: -1px;
      width: 280px;
      height: 110px;
      padding: 20px;
      font-size: 30px;
      font-weight: 400;
      line-height: calc(110px - 10px);
      color: #fff;
      background-color: #fff;
      z-index: 3;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(100% - 35px);
        height: calc(100% - 35px);
        background-color: $primary-color;
        z-index: -1;
      }
    }
  }

  &-info {
    @media (max-width: $screen-size-sm) {
      margin: 5em 0 0;
    }

    &__title {
      font-size: 46px;
      @media (max-width: $screen-size-sm) {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 0.5em;
      }

      &-welcome {
        font-size: 20px;
        font-weight: 400;
      }

      &-sec {
        font-size: 26px;
        font-weight: 500;
      }
    }
    &__btn {
      padding: 20px 30px;
      margin-top: 20px;
      border: 5px solid $secondary-color;
      background-color: transparent;
      outline: none;
      font-weight: 700;
      color: $secondary-color;
    }
  }
}

.categories {
  // display: flex;
  // justify-content: space-between;
  margin-top: 4em;
  &-wrapper {
    background-color: $primary-dark;
    // height: 700px;
    text-align: center;
    padding: 6em 0 7em;
  }

  .category-item {
    // width: calc(33.33333% - 20px);
    border-radius: 6px;
    overflow: hidden;
    margin-right: 15px;

    @media (max-width: $screen-size-sm) {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &__info {
      padding: 40px 50px;
      background-color: #ffffff;
      text-align: left;
    }

    &__title {
      font-size: 18px;
    }

    &__desc {
      height: 145px;
      overflow: hidden;
    }

    &__action {
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      color: $primary-color;
      letter-spacing: 0.8px;
    }
  }

  // Styles for slick inside categories
  .slick-dots {
    bottom: -40px;
    li {
      button {
        &::before {
          content: "";
          height: 14px;
          width: 14px;
          border: 2px solid #99989a;
          border-radius: 50%;
        }
      }

      &.slick-active button:before {
        //Active Dot
        background-color: lighten(#99989a, 10);
        border-color: lighten(#99989a, 10);
      }
    }
  }
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 4em;
  margin-bottom: 3.5em;

  &-wrapper {
    // height: 1000px;
    text-align: center;
    padding: 6em 0 4em;

    .cta__action {
      text-decoration: none;
      color: $secondary-light;
      background-color: $secondary-color;
    }
  }

  .product-item {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;

    @media (max-width: $screen-size-md) {
      width: calc(50% - 10px);
    }

    @media (max-width: $screen-size-sm) {
      width: calc(100% - 10px);
    }

    &__img {
      position: relative;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .product-item__type {
        position: absolute;
        top: -17px;
        left: -110px;
        width: 140px;
        text-align: right;
        padding: 0 10px 5px;
        font-size: 20px;
        color: $secondary-color;
        background-color: rgba(255, 255, 255, 0.6);
        letter-spacing: 0.8px;
        transform: rotate(270deg);
        transform-origin: right;
        // text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.65);
      }
    }

    &__title {
      font-weight: 400;
      font-size: 20px;
      padding: 15px 10px 20px;
      border-bottom: 2px solid $secondary-light;
    }
  }
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 4em 0 0;
  &-wrapper {
    background-color: $secondary-light;
    text-align: center;
    padding: 4em 0 0;
  }

  .brand-item {
    width: calc(25% - 10px);
    height: 150px;
    margin-top: 10px;

    @media (max-width: $screen-size-sm) {
      width: calc(50% - 5px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cta {
  &-wrapper {
    background-color: $secondary-color;
    text-align: center;
    padding: 6em 0 5em;
  }

  &__title {
    font-size: 40px;
    font-weight: 400;
    width: 30%;
    margin: 20px auto 0;
    line-height: 40px;

    @media (max-width: $screen-size-sm) {
      width: 100%;
    }
  }

  &__action {
    padding: 18px 22px;
    margin-top: 3.5em;
    background-color: #fff;
    border: none;
    border-radius: 4px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  color: $secondary-light;

  &-wrapper {
    background-color: $primary-dark;
    padding: 4em 0;
    // height: 250px;
  }

  p {
    font-size: 90%;
  }

  &__company-info {
    flex-basis: 45%;
  }

  &__quick-links {
    @media (max-width: $screen-size-sm) {
      display: none;
    }
    ul {
      list-style: none;
      padding: 0;
    }

    a {
      color: $secondary-light;
      font-size: 90%;
      text-decoration: none;
      transition: color 0.2s ease-in;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__contact {
    @media (max-width: $screen-size-sm) {
      padding-left: 2em;
      padding-top: 1em;
    }
    h5 {
      margin-bottom: 30px;
    }
  }
}

.copyright {
  background-color: $primary-color;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
