$primary-color: #e14658;
$secondary-color: #3f3250;
$primary-dark: #22252c;
$secondary-light: #ececec;

$screen-size: "sm" 576px, "md" 768px, "lg" 992px, "xl" 1200px;

$container-size: 576px 540px "sm", 768px 720px "md", 992px 960px "lg",
  1200px 1140px "xl";
