@import "_variables";
@import "_utility";

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @each $media-size, $container-size in $container-size {
    @media (min-width: $media-size) {
      max-width: $container-size;
    }
  }
}

.hero {
  &-wrapper {
    height: 80vh;
    background: url(https://images.unsplash.com/photo-1562184647-5772b5348713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1590&q=80)
      no-repeat bottom center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 10em 0;
  }

  &__title {
    padding: 10px 20px;
    font-size: 42px;
    color: #fff;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.about {
  &-wrapper {
    margin: 6em 0;
    display: flex;
    justify-content: space-between;
  }

  &-infographics {
    min-width: 350px;
    margin-right: 40px;

    img {
      width: 100%;
    }
  }

  &-info {
    &__title {
      font-size: 46px;

      &-welcome {
        font-size: 20px;
        font-weight: 400;
      }

      &-sec {
        font-size: 26px;
        font-weight: 500;
      }
    }
    &__btn {
      padding: 20px 30px;
      margin-top: 20px;
      border: 3px solid $primary-dark;
      background-color: transparent;
      outline: none;
      font-weight: 700;
    }
  }
}

.categories {
  &-wrapper {
    background-color: $primary-dark;
    height: 700px;
    text-align: center;
    padding: 4em 0;
  }
}

.product-list {
  &-wrapper {
    height: 1000px;
    text-align: center;
    padding: 4em 0;
  }
}

.brand {
  &-wrapper {
    background-color: $secondary-light;
    text-align: center;
    padding: 4em 0 0;
  }
  &-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & > li {
      list-style: none;
      width: 25%;
      color: #fff;
    }

    &__item {
      &.dark {
        height: 150px;
        background-color: #d4d4d4;
      }
    }
  }
}

.cta {
  &-wrapper {
    background-color: $secondary-color;
    text-align: center;
    padding: 8em 0;
  }
}

.footer {
  &-wrapper {
    background-color: $primary-dark;
    padding: 4em 0;
    height: 250px;
  }
}

.copyright {
  background-color: $primary-color;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
